# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.profraw

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store
*.dmg

# Secrets
.env
*.pem
*.p12

# Local files
*.local
*.db
*.db-shm
*.db-wal
